

* {
    color:white;
}

::placeholder {
    color:white;
    text-align: center;
    font-size: 14px;
    size: 5px;
}

input {
    size: 5px !important;

}

a:hover{
color:white;
}

#title {
    font-size: 2rem;
    left: 0px !important;

}

.container {
    margin-right: 45px !important;
    left: 0;

}