<nav class="nav-wrapper">
  <div class="container">
      <a routerLink="home" id="title"> {{ _servicio.info.titulo }}</a>
      <a href="" data-target="menu-responsivo" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>

    <ul class="right hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="home">home</a>
      </li>
      <li routerLinkActive="active"><a routerLink="about">about</a>
      </li>
      <li routerLinkActive="active"><a routerLink="items" >items</a>
      </li>
      <li><input type="text" 
        (keyup.enter)="buscarProducto(txtBuscar.value)"
        placeholder="buscar" 
        id="" 
        class="white-text"
        #txtBuscar>
      </li>
    </ul>

  </div>

  
<ul class="sidenav" id="menu-responsivo">
  <li><a routerLink="home">home</a>
  </li>
  <li><a routerLink="about">about</a>
  </li>
  <li><a routerLink="items" >items</a>
  </li>
</ul>



</nav>

